In [37]:
import pandas as pd 

merged_final_data = pd.read_csv('./flatData.csv')
etat_df= pd.read_csv('./etat.csv')

In [49]:
merged_final_data['NZONE'].unique()

array(['ZONE.1', 'ZONE.2', 'ZONE.3', 'ZONE.4', 'ZONE.5', 'ZONE.6',
       'ZONE.7', 'ZONE.8', 'ZONE.9', 'ZONE.10', 'ZONE.11', 'ZONE.12'],
      dtype=object)

In [26]:
etat_df

,Categorie,Name Catégorie,Ref,NZONE,NAtelier,NUnité,RefProduit,Etat
0,Q,Quality,QUA/001,ZONE.1,ATEL.1,Unit.1,SF1.M32,In progress
1,Q,Quality,QUA/002,ZONE.3,ATEL.1,Unit.1,SF1.90VU,In progress
2,Q,Quality,QUA/003,ZONE.7,ATEL.3,Unit.2,SF3.M32,Cloturé
3,Q,Quality,QUA/004,ZONE.11,ATEL.4,Unit.2,PPE21,Late
4,Q,Quality,QUA/005,ZONE.5,ATEL.2,Unit.1,SF2.PPE21,Late
5,Q,Quality,QUA/006,ZONE.8,ATEL.3,Unit.2,SF3.PPE21,Cloturé
6,S,Safety,SAF/001,ZONE.2,ATEL.1,Unit.1,SF1.PPE21,In progress
7,S,Safety,SAF/002,ZONE.3,ATEL.1,Unit.1,SF2.M32,In progress
8,D,Delivery,OTD/001,ZONE.10,ATEL.4,Unit.2,M32,Cloturé
9,D,Delivery,OTD/002,ZONE.11,ATEL.4,Unit.2,PPE21,In progress
10,D,Delivery,OTD/003,ZONE.12,ATEL.4,Unit.2,90VU,In progress

In [43]:
print("Unique RefProduit in merged_final_data:", merged_final_data['RefProduit'].nunique())
print("Unique RefProduit in etat_df:", etat_df['RefProduit'].nunique())

Unique RefProduit in merged_final_data: 12
Unique RefProduit in etat_df: 10

In [44]:
non_matching_refs = merged_final_data[~merged_final_data['RefProduit'].isin(etat_df['RefProduit'])]
print("Non-matching RefProduit values in merged_final_data:\n", non_matching_refs['RefProduit'].unique())

Non-matching RefProduit values in merged_final_data:
 ['SF2.90VU' 'SF3.90VU']

In [45]:
filtered_data = merged_final_data[
    merged_final_data['RefProduit'].isin(['SF2.90VU', 'SF3.90VU'])
]

In [46]:
filtered_data[['NZONE', 'NAtelier', 'NUnité', 'RefProduit']]

        NZONE NAtelier  NUnité RefProduit
5      ZONE.1   ATEL.1  Unit.1   SF2.90VU
8      ZONE.1   ATEL.1  Unit.1   SF3.90VU
17     ZONE.2   ATEL.1  Unit.1   SF2.90VU
20     ZONE.2   ATEL.1  Unit.1   SF3.90VU
29     ZONE.3   ATEL.1  Unit.1   SF2.90VU
...       ...      ...     ...        ...
2351  ZONE.10   ATEL.4  Unit.2   SF3.90VU
2359  ZONE.11   ATEL.4  Unit.2   SF2.90VU
2362  ZONE.11   ATEL.4  Unit.2   SF3.90VU
2370  ZONE.12   ATEL.4  Unit.2   SF2.90VU
2373  ZONE.12   ATEL.4  Unit.2   SF3.90VU

[426 rows x 4 columns]

In [47]:

merged_result = pd.merge(
    merged_final_data,
    etat_df[['RefProduit', 'Etat', 'NZONE', 'NAtelier', 'NUnité']],
    on=['RefProduit', 'NZONE', 'NAtelier', 'NUnité'],
    how='left'
)

print(f'Merged data shape: {merged_result.shape}')

merged_result

Merged data shape: (2397, 59)

,Date,NZONE,NameZONE,NAtelier,NameAtelier_x,ObjAbs,TxAbs,ObjPolyvalence,TxPolyvalence,ObjSafety,...,NUnité,Unité,NameUnit,Site,NameSite,IsAbs,IsPolyvalence,IsEffNet,IsEffBrut,Etat
0,2024-08-11,ZONE.1,INJ.XC_MQB,ATEL.1,ATELIER INJ. XC,3%,3.8%,80%,76%,0,...,Unit.1,Unité XC,Unité de Fabrication XC,Site 1,QMS Manufacturing,1,0,0,0,In progress
1,2024-08-11,ZONE.1,INJ.XC_MQB,ATEL.1,ATELIER INJ. XC,3%,3.8%,80%,76%,0,...,Unit.1,Unité XC,Unité de Fabrication XC,Site 1,QMS Manufacturing,1,0,0,1,NaN
2,2024-08-11,ZONE.1,INJ.XC_MQB,ATEL.1,ATELIER INJ. XC,3%,3.8%,80%,76%,0,...,Unit.1,Unité XC,Unité de Fabrication XC,Site 1,QMS Manufacturing,1,0,0,1,NaN
3,2024-08-11,ZONE.1,INJ.XC_MQB,ATEL.1,ATELIER INJ. XC,3%,3.8%,80%,76%,0,...,Unit.1,Unité XC,Unité de Fabrication XC,Site 1,QMS Manufacturing,1,0,0,1,NaN
4,2024-08-11,ZONE.1,INJ.XC_MQB,ATEL.1,ATELIER INJ. XC,3%,3.8%,80%,76%,0,...,Unit.1,Unité XC,Unité de Fabrication XC,Site 1,QMS Manufacturing,1,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392,2024-08-30,ZONE.12,FIN_A321.Neo,ATEL.4,ATELIER.FIN,3%,7.6%,80%,85%,0,...,Unit.2,Unité AF,Unité d'assemblage & Finition,Site 1,QMS Manufacturing,1,1,1,1,NaN
2393,2024-08-30,ZONE.12,FIN_A321.Neo,ATEL.4,ATELIER.FIN,3%,7.6%,80%,85%,0,...,Unit.2,Unité AF,Unité d'assemblage & Finition,Site 1,QMS Manufacturing,1,1,1,1,NaN
2394,2024-08-30,ZONE.12,FIN_A321.Neo,ATEL.4,ATELIER.FIN,3%,7.6%,80%,85%,0,...,Unit.2,Unité AF,Unité d'assemblage & Finition,Site 1,QMS Manufacturing,1,1,1,1,NaN
2395,2024-08-30,ZONE.12,FIN_A321.Neo,ATEL.4,ATELIER.FIN,3%,7.6%,80%,85%,0,...,Unit.2,Unité AF,Unité d'assemblage & Finition,Site 1,QMS Manufacturing,1,1,1,1,NaN
2396,2024-08-30,ZONE.12,FIN_A321.Neo,ATEL.4,ATELIER.FIN,3%,7.6%,80%,85%,0,...,Unit.2,Unité AF,Unité d'assemblage & Finition,Site 1,QMS Manufacturing,1,1,1,1,In progress

Duplicates in merged_final_data: 0
Duplicates in etat.csv: 0

In [32]:
merged_df['Etat'] = merged_df['Etat'].fillna('Not Available')

In [9]:
etat_df = etat_df.drop_duplicates(subset='Produits')

In [33]:
merged_df.to_csv('./jdid.csv', index=False)

In [6]:
import pandas as pd 
merged_df = pd.read_csv('./jdid.csv')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2377 entries, 0 to 2376
Data columns (total 66 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  2377 non-null   object
 1   NZONE                 2377 non-null   object
 2   NameZONE              2377 non-null   object
 3   NAtelier              2377 non-null   object
 4   NameAtelier_x         2377 non-null   object
 5   ObjAbs                2377 non-null   object
 6   TxAbs                 2377 non-null   object
 7   ObjPolyvalence        2377 non-null   object
 8   TxPolyvalence         2377 non-null   object
 9   ObjSafety             2377 non-null   int64
 10  NdaccidentAvecArrêt   2377 non-null   int64
 11  RefProduit            2377 non-null   object
 12  DésignationProduit    2377 non-null   object
 13  QtéProduite_x         2377 non-null   int64
 14  QtéLivrée_x           2377 non-null   int64
 15  NbrDéfautInt          2377 non-null   int64
 16  QtérebutInt           2377 non-null   int64
 17  QtéRéclamée           2377 non-null   int64
 18  ObjNQInt              2377 non-null   object
 19  ObjDPU                2377 non-null   object
 20  ObjNQExt              2377 non-null   object
 21  ObjPPMInt             2377 non-null   int64
 22  ObjPPMClient          2377 non-null   object
 23  TxNQInt               2377 non-null   object
 24  DPU                   2377 non-null   object
 25  TxNQExt               2377 non-null   object
 26  PPMRebutInt           2377 non-null   object
 27  PPMClient             2377 non-null   float64
 28  QtéProduite_y         2377 non-null   int64
 29  QtéLancéePDP          2377 non-null   int64
 30  QtéEngClient          2377 non-null   object
 31  QtéLivrée_y           2377 non-null   int64
 32  ObjOTP                2377 non-null   object
 33  ObjOTD                2377 non-null   object
 34  OTD                   2377 non-null   object
 35  OTP                   2377 non-null   object
 36  QtéProduite           2377 non-null   int64
 37  QtéLivrée             2377 non-null   int64
 38  TpsdouvNette          2377 non-null   int64
 39  TpsSTDUnitaire        2377 non-null   int64
 40  TpsPointeeNetProduit  2377 non-null   int64
 41  HrBadgées             2377 non-null   int64
 42  ETPthéo               2377 non-null   float64
 43  ETPRéel               2377 non-null   float64
 44  OBJEFFNET             2377 non-null   object
 45  OBJEFFBRUT            2377 non-null   object
 46  EfficienceNette       2377 non-null   object
 47  EfficienceBrute       2377 non-null   object
 48  NameAtelier_y         2377 non-null   object
 49  NUnité                2377 non-null   object
 50  Unité_x               2377 non-null   object
 51  NameUnit              2377 non-null   object
 52  Site                  2377 non-null   object
 53  NameSite              2377 non-null   object
 54  IsAbs                 2377 non-null   int64
 55  IsPolyvalence         2377 non-null   int64
 56  IsEffNet              2377 non-null   int64
 57  IsEffBrut             2377 non-null   int64
 58  Categorie             2377 non-null   object
 59  Name Catégorie        2377 non-null   object
 60  Ref                   2377 non-null   object
 61  Zone                  2377 non-null   object
 62  Atelier               2377 non-null   object
 63  Unité_y               2377 non-null   object
 64  Produits              2377 non-null   object
 65  Etat                  2377 non-null   object
dtypes: float64(3), int64(21), object(42)
memory usage: 1.2+ MB

In [53]:
merged_result['PPMRebutInt'] = merged_result['PPMRebutInt'].str.replace(' ', '').str.replace('-', '').str.replace('"', '')

In [ ]:
merged_result['Etat'] = merged_result['Etat'].fillna('NOT AVAILABLE')

In [27]:
merged_df = merged_df.fillna('Unknown')

In [55]:
merged_result.to_csv('./jdid.csv', index=False)